@{
    Layout = "_Layout";
}

@section Body {

    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">ERRO</p>
        <p class="text-gray-500 mb-0">Uau que estranho... um erro :(</p>
        <a href="/Home/Dashboard">&larr; Voltar para a página principal</a>
    </div>

}
